<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <title>Thank you</title>
  </head>
  <body class="jumbotron">
    <div class="jumbotron text-center">
      <h1 style="font-size: 50px;" class="display-3">
        Thank You!
        <div style="font-size: 30px;">By</div>
        Data Ninjas
      </h1>
      <p class="lead">
        <strong>Details</strong> The seminar will be held in sahyogcollege of it
        campus at 13th march from 2.00pm to 3.00pm
      </p>
      <hr />
      <p>Having trouble? <a href="tel:+919167193918">Contact us</a></p>
      <p class="lead">
        <a class="btn btn-primary btn-m" href="/" role="button"
          >Register again</a
        >
      </p>
    </div>
  </body>
</html>
