@import "./partials/navbar";

body {
  background: linear-gradient(
    51.08deg,
    #3f189a -4.35%,
    rgba(81, 46, 164, 0.904595) 20.98%,
    rgba(100, 64, 182, 0.891639) 33.98%,
    #94a5ffd8 103.86%
  );
  min-height: 100vh;

  font-family: "Roboto", sans-serif;
}

.heading {
  display: flex;
  @include mobile {
    flex-direction: column;
    justify-content: center;
  }

  width: 100%;
  background-color: #f8f9fb;
  color: #474343;
  margin-top: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 25px;
  }
  .search {
    position: relative;
    padding: 2px;
    margin-left: 70px;
    @include mobile {
      margin-left: 0px;
      margin-top: 10px;
    }
    input {
      position: relative;
      padding: 5px;
    }
    .search-results {
      max-height: 300px;
      overflow-y: auto;
      opacity: 0;
      z-index: -3;
      width: 100%;
      list-style: none;
      background-color: #f8f9fb;
      position: absolute;

      li {
        padding: 2px 0px 4px 10px;
        display: flex;
        justify-content: flex-start;
        border-bottom: 0.7px solid rgba(63, 63, 63, 0.521);
        cursor: pointer;
      }
      li:hover {
        color: #f8f9fb;
        background-color: #474343;
        border-bottom: 0.7px solid rgba(204, 204, 204, 0.521);
      }
    }
  }
}
.search-results--active {
  opacity: 1 !important;
  z-index: 5 !important;
}

.container {
  .wrapper {
    margin: 50px 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    row-gap: 5vh;
    .user {
      background-color: #f8f9fb;
      border-radius: 10px;
      width: 100%;
      padding: 1rem 1.5rem;

      .name {
        font-weight: bold;
        font-size: 20px;
        line-height: 21px;
        color: #474343;
      }
      .para-container {
        margin: 10px 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
      }
      button {
        border: none;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
        padding: 7px;
        color: #f8f9fb;
        width: 100%;
      }
      .arrived {
        background-color: rgb(21, 119, 50);
      }
      .not-arrived {
        background-color: rgb(223, 46, 46);
      }
    }
  }
}
